[Desktop Entry]
Type=Application
Name=Bojata GUI
GenericName=Bojata GUI by K&K
Comment=Na batko bojata s prozorci
Icon=/usr/share/pixmaps/python3.xpm
Path=/home/pi/bojata
Exec=scripts/run.sh 1
Terminal=true
X-KeepTerminal=true
