[Desktop Entry]
Type=Application
Name=Bojata
GenericName=Bojata by K&K
Comment=Na batko bojata
Icon=/usr/share/pixmaps/python3.xpm
Path=/home/pi/bojata
Exec=scripts/run.sh 0
Terminal=true
X-KeepTerminal=true
