[Desktop Entry]
Type=Application
Name=Config Printers
Comment=Configure CUPS printers
Path=/home/pi/bojata
Exec=scripts/config_printers.sh
Terminal=true
X-KeepTerminal=true
