[Desktop Entry]
Type=Application
Name=Start Printers
Comment=(Re)start CUPS printers
Path=/home/pi/bojata
Exec=scripts/start_printers.sh
Terminal=true
X-KeepTerminal=true
