[Desktop Entry]
Type=Application
Name=Bojata GUI
Comment=Bojata GUI autostart
Path=/home/pi/bojata
Exec=lxterminal -t KIOSK_APP -e "scripts/run.sh 1"
