[Desktop Entry]
Type=Application
Name=Bojata
Comment=Bojata autostart
Path=/home/pi/bojata
Exec=lxterminal -t KIOSK_APP -e "/home/pi/bojata/scripts/run.sh 0"
